seaborn
scikit-learn
streamlit 
pandas
numpy
openai
chardet
streamlit
numpy
matplotlib
sweetviz
sqlalchemy
streamlit_option_menu
PandasAI
pandasai
xgboost
folium
scipy
plotly
statsmodels
pandasai
joblib 
pandas
bs4
